.admin__content {
    padding: 1rem;
}

.dashboard__top {
    display: flex;
    gap: 5rem;
}

.dashboard__item {
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1rem;
    background-color: #fff;
}

.dashboard__item--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dashboard__item--top span:nth-child(1) {
    font-weight: 500;
}

.dashboard__item--top span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    width: 3.2rem;
    color: var(--color-bold);
    height: 3.2rem;
    background-color: var(--color-thin);
}

.dashboard__item--length {
    font-size: 5.4rem;
    padding: 2rem;
    opacity: 0.6;
    font-weight: 700;
}

.dashboard__content>p {
    padding: 2rem 2rem;
    font-weight: 700;
    color: var(--color-bold);
}

.dashboard__content table {
    width: 100%;
    border-spacing: 0;
}

.dashboard__content table tr th {
    color: var(--color-bold);
}

.dashboard__content table tr td,
.dashboard__content table tr th {
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--color-bold);
}

.item-booklist__doctor {
    text-align: center;
}

.admin_modal {
    display: none;
}

.admin_modal.active {
    display: block;
}

.admin_modal__main {
    width: 50rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.8rem;
    max-height: 85rem;
    height: max-content;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002
}

.admin_modal__main--title {
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.3);
    text-align: center;
    padding: 0.5rem 0rem;
    font-weight: 700;
    font-size: 2.8rem;
}

.admin_modal__main--close {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 100rem;
    background-color: gray;
    display: flex;
    align-items: center;
    z-index: 101;
    justify-content: center;
}

.admin_modal__loading.active {
    display: block;
}

.admin_modal__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.8);
}

.loading__content {
    width: 100%;
    height: 10rem;
    color: var(--color-bold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__content span {
    font-size: 4.2rem;
}

.loading {
    animation: rotate360degs 1s infinite linear;
}

.admin_modal__loading span {
    color: #fff;
    font-size: 4rem;
}


@keyframes rotate360degs {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.admin_modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.color-red {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.4rem 0rem;
}

.admin_value__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin_value__top ul li {
    width: max-content;
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.admin_value__top ul li.orange {
    color: #fff;
    background-color: #ffa600;
}

.admin_value__top input {
    width: 30rem;
    padding: 1rem;
    border: 0.1rem solid gray;
}

.specicallist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specicallist label {
    display: inline;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-bold);
}

.select_admin select {
    width: 100%;
    padding: 1.1rem;
    padding-right: 4rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.361)
}

.select_admin {
    width: 100%;
    position: relative;
}

.select_admin span {
    position: absolute;
    top: 50%;
    right: 1rem !important;
    left: calc(100% - 2rem) !important;
    transform: translateY(-50%);
}

.flex {
    display: flex;
    gap: 3rem;
}

.w-50 {
    width: 50%;
}

.flex-space-between {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.flex-space-between label {
    position: absolute;
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.select-list {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.item-select {
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    padding: 0.4rem 0.8rem;
    border-radius: 100rem;
    color: #fff;
    background-color: var(--color-bold);
}

.item-select.active {
    background-color: orange;
}

.w-33 {
    width: calc(100% / 3);
}

.specicallist.w-50 {
    align-items: flex-start;
}

.specicallist.w-50 label {
    width: 100%;
    text-align: center;
    padding: 1.1rem;
    display: block;
    margin: 1rem 0rem;
}

/* 
.admin_value {
    height: 100%;
} */

.dashboard__content.flex.main {
    margin-top: 4rem;
    display: flex;
    gap: 5rem;
}

.dashboard__content--layout {
    padding: 1rem 2.8rem;
    background-color: #fff;
    width: 50%;
    border-radius: 0.5rem;
}

.dashboard__content--layout>ul>li {
    display: flex;
    position: relative;
    align-items: center;
    line-height: 2.4rem;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.dashboard__content--layout>ul>li>img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100rem;
}

.dashboard__content--layout>ul>li p:nth-child(1) {
    font-weight: 600;
}

.dashboard__content--layout>ul>li p:nth-child(2) {
    opacity: 0.7;
    font-size: 1.3rem;
}

.dashboard__content--layout>ul>li box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0rem;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-justify-between span {
    font-weight: 600;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--color-bold);
}