.error {
  border: 1px solid red
}

.login__container>div>p {
  color: red;
  font-weight: bold;
  font-size: 13px;
}

.login__container>div>input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirm__wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(117, 117, 117, 0.503);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm__wrap .confirm {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
}

.confirm__wrap .confirm>h2>span {
  color: red;
  display: block;
  text-align: center;
}

.confirm__wrap .confirm>input[type='number'] {
  color: rgb(48, 48, 48);
  outline: none;
  background-color: rgb(223, 225, 223);
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 4px;
}

.btn {
  margin-top: 10px;
}

.btn>button {
  padding: 10px 15px;
  background-color: rgb(204, 204, 204);
  margin-left: 6px;
  color: rgb(145, 145, 145);
  font-weight: bold;
  transition: all .4s
}

.btn>button:hover {
  transform: scale(1.1);
  color: rgb(63, 63, 63);
}

.admin.type02 {
  height: auto;
}

.admin.type02 .admin__header--logo>a>img {
  width: 160px;
  height: auto;
}

.hide-show {
  visibility: hidden;
}

.chat {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.chat__left {
  background-color: #fff;
  width: 25%;
  padding: 2rem;
}

.chat__left--search {
  position: relative;
  margin: 1rem 0rem;
}

.chat__left--search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.chat__left--search input {
  padding: 1.1rem;
  padding-left: 4rem;
  border-radius: 100rem;
  width: 100%;
  border: 0.1rem solid gray;
}

.chat__item {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.chat__item:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.chat__item.active {
  background-color: rgba(128, 128, 128, 0.2);
}

.chat__item--content {
  flex: 1;
}

.chat__item--content p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 1rem;
}

.chat__item--content p:nth-child(2) {
  font-size: 1.4rem;
  color: gray;
  opacity: 0.7;
}

.chat__item--time {
  padding: 0rem 1rem;
}

.chat__item--time p {
  margin-left: auto;
}

.chat__item--time p:nth-child(1) {
  color: gray;
  opacity: 0.6;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.chat__item--time p:nth-child(2) {
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  background-color: var(--color-bold);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3rem;
}

.chat__item--image {
  width: 6rem;
  height: 6rem;
  border-radius: 100rem;
}

.chat__item--image img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
}

.chat__right {
  width: 75%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chat__right--top {
  padding: 2rem 1rem;
  text-align: right;
}

.chat__right--top span {
  font-weight: 700;
  opacity: 0.7;
}

.chat__right--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat__right--content--head {
  padding: 1rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.chat__right--content--head div:nth-child(1) {
  position: relative;
}

.chat__right--content--head div:nth-child(1) img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
}

.chat__right--content--head div:nth-child(1) span {
  width: 1rem;
  height: 1rem;
  border-radius: 100rem;
  right: 0.5rem;
  display: block;
  background-color: green;
  position: absolute;
  bottom: 0.5rem;
}

.chat__right--content--head div:nth-child(2) p:nth-child(1) {
  font-weight: 600;
  font-size: 1.5rem;
}

.chat__right--content--head div:nth-child(2) p:nth-child(2) {
  opacity: 0.7;
  font-size: 1.2rem;
  margin-top: 0.7rem;
}

.chat__right--content--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.3);
}

.chat__right--content--control {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.chat__right--content--control input {
  flex: 1;
  padding: 1.3rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.3);
}

.chat__right--content--control span {
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--color-bold);
}

.message__item {
  margin-bottom: 1rem;
  gap: 1rem;
}

.message__item.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.message__item--image {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.message__item--image img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
}

.message__item--image span {
  width: 1rem;
  height: 1rem;
  border-radius: 100rem;
  right: 0.1rem;
  display: block;
  background-color: green;
  position: absolute;
  bottom: 0.1rem;
}

.message__item--content {
  max-width: 75%;
}

.message__item--content p {
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  width: max-content;
  background-color: rgba(128, 128, 128, 0.24);
}

.message__item--content span {
  display: block;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.5;
}

.message__item.flex-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.message__item.flex-end .message__item--content span {
  display: block;
  text-align: right;
  padding-right: 1rem;
}

.button-chat-popup {
  z-index: 9999;
  width: 6rem;
  height: 6rem;
  border-radius: 100rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background-color: var(--color-bold);
}

.button-chat-popup>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 100rem;
  position: relative;
}

.button-chat-popup>div>span {
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
}

.chat-popup__form {
  display: none;
  border-radius: 0.8rem;
  padding: 1rem;
  width: 36rem;
  background-color: #fff;
  border: 0.1rem solid rgba(128, 128, 128, 0.3);
  position: absolute;
  bottom: 0;
  right: 100%;
  margin-right: 2rem;
}

.chat-popup__form.active {
  display: block;
}

.chat-popup__form--title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.3);
  margin-bottom: 1rem;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.chat-popup__form--close {
  position: absolute;
  top: 0.5rem;
  font-size: 3.2rem;
  cursor: pointer;
  right: 0.5rem;
}

.chat-popup__form .chat__right--content--content {
  height: 32rem;
  overflow: auto;
  max-height: 32rem;
  flex: unset;
}

.not-found {
  width: 100%;
  height: 100vh;
  margin: auto;
  object-fit: contain;
}

.profile__title {
  font-weight: 600;
  margin: 2rem 0rem;
  font-size: 1.8rem;
}

.profile__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.profile__top--left {
  width: 55%;
}

.profile__top--left--button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-bold);
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

.profile__top--right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__top--right--image {
  width: 24rem;
  height: 24rem;
  border-radius: 100rem;
}

.profile__top--right--image img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__top--right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.profile__top--right ul li {
  cursor: pointer;
}

.profile__top--right ul li label {
  display: block;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: var(--color-thin);
}

.profile__top--right ul li button {
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--color-bold);
  font-weight: 600;
}

.profile__top--right ul li button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.profile__content {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.item-booklist {
  width: 49%;
  margin-bottom: 2rem;
  padding: 3rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.221);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.item-booklist__doctor img {
  width: 8rem;
  height: 8rem;
  border-radius: 100rem;
}

.item-booklist__doctor p {
  line-height: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.item-booklist__doctor span {
  display: block;
  text-align: center;
  opacity: 0.6;
  font-size: 1.3rem;
}

.item-booklist__info {
  padding: 0rem 3rem;
  flex: 1;
  font-size: 1.5rem;
  opacity: 0.8;
}

.item-booklist__info div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
}

.item-booklist__info p {
  line-height: 2.4rem;
}

.item-booklist__info p span {
  font-weight: 600;
}

.item-booklist__status span {
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  color: #fff;
}

.blog__detail--item {
  width: 100%;
  padding: 0rem !important;
  margin-bottom: 2rem;
}

.blog__flex {
  padding-top: 4rem;
  display: flex;
  gap: 5rem;
}

.blog__flex>div:nth-child(1) {
  width: 70%;
}

.blog__flex>div:nth-child(2) {
  flex: 1;
}

.blog__title {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 4rem;
}

.blog__child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.3rem;
}

.blog__child span {
  padding: 0.4rem 0.8rem;
  border-radius: 100rem;
  background-color: red;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}

.blog__child p {
  font-size: 1.2rem;
  opacity: 0.5;
  font-weight: 400;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.blog__list .service__slider--item {
  padding: 0 !important;
  margin-bottom: 2rem;
  width: 23%;
}

.green {
  background-color: green;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100rem;
  padding: 0.4rem 0.8rem;
}

.status {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100rem;
  padding: 0.4rem 0.8rem;
}

.status.active {
  border: 0.2rem solid royalblue;
  border-radius: 0 !important;
}

.red {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100rem;
  padding: 0.4rem 0.8rem;
}

.popup_waiting {
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_waiting>div {
  text-align: center;
}

.popup_waiting>div>p:nth-child(1) {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--color-bold);
}

.request-join {
  z-index: 1000;
  max-width: 60rem;
  padding: 2.4rem 1.2rem;
  background-color: #fff;
  border-radius: 2rem;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.request-join .request-join-top {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.request-join .request-join-top img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 100rem;
}

.request-join .request-join-top>div {
  padding-left: 2rem;
}

.request-join .request-join-top>div p:nth-child(2) {
  color: gray;
  opacity: 0.6;
  font-size: 1.4rem;
  margin-top: 0;
}

.request-join .request-join-content {
  display: flex;
  align-items: center;
}

.request-join .request-join-content>p {
  font-size: 1.4rem;
  color: gray;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.request-join .request-join-content>p>i {
  color: blue;
  opacity: 0.8;
  font-size: 3.2rem;
  margin-right: 2rem;
}

.request-join .request-join-content>ul {
  flex: 1;
  font-size: 1.4rem;
  padding-left: 4rem;
  padding-right: 2rem;
}

.request-join .request-join-content>ul>li {
  color: blue;
  opacity: 0.8;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.request-join-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.711);
}


.item-doctor-image {
  text-align: center;
}

.item-doctor-image img {
  width: 18rem;
  height: 18rem;
  border-radius: 100rem;
  object-fit: cover;
}


.item-doctor-info p {
  color: black !important;
  justify-content: center !important;
  line-height: 2rem;
}

.item-doctor-info p:nth-child(1) {
  font-weight: 600;
  text-align: center;
}

.item-doctor-info p:nth-child(2),
.item-doctor-info p:nth-child(3) {
  font-weight: 600;
  font-size: 1.3rem;
  opacity: 0.6;
  text-align: center;
}

.message__item--content {
  font-size: 1.3rem;
  max-width: 80%;
}

.chat__right--content--content {
  overflow-y: auto;
}

.content__blog {
  margin: 0 auto;
  text-align: left;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
}

.content__blog h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0rem;
}

.content__blog img {
  width: auto;
  margin: 1.4rem auto;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard__content table tr {
  font-size: 1.5rem;
}

.item__post__.row {
  position: relative;
}

.button-slider {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 100rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;
  font-size: 3.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-50%);
}

.button-slider.left {
  left: 0;
}

.button-slider.right {
  right: 0;
}