:root {
  --color: #45c3d2;
  --font-family: "Montserrat", sans-serif !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*:focus,
button:focus,
input:focus,
select:focus {
  outline: none;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000000;
}

input,
button {
  border: none;
}

select option {
  font-family: var(--font-family);
}

select {
  font-family: var(--font-family);
  color: rgba(128, 128, 128, 0.8);
}

input[type="submit"] {
  cursor: pointer;
}

input::placeholder {
  font-family: var(--font-family);
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.wrapper {
  max-width: 128rem;
  margin: auto;
}

@media all and (max-width: 1280px) {
  .wrapper {
    padding: 0rem 2rem;
  }
}

.img-wrap {
  position: relative;
  height: auto;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover !important;
}

.img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  transform: translateZ(0);
  margin: 0 auto;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  object-position: 50% 50%;
  object-fit: cover;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.hidden {
  display: none;
}

:root {
  --color-thin: #ede7f6;
  --color-bold: #5e35b1;
}

@media all and (max-width: 768px) {
  .header {
    padding: 0rem 1rem;
  }
}

.header__prev {
  font-size: 2.4rem;
  cursor: pointer;
}

.header.active {
  background-color: var(--color);
  color: #fff;
}

.header__content {
  padding: 1.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  display: block;
}

.header__logo a img {
  width: 20rem;
}

.header__menu {
  padding-top: 1rem;
  background: #ffffff;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.header__menu ul li {
  padding: 1.4rem 1rem;
}

.header__menu ul li a {
  color: var(--color);
}

.header__menu.active {
  transform: translateX(0);
}

.header__menu--overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  bottom: 0;
  right: 0;
}

.header__menu--overlay.active {
  display: block !important;
}

.header__icon {
  font-size: 2.8rem;
  cursor: pointer;
}

.header__list {
  display: none;
  gap: 2rem;
}

@media all and (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__list li p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
}

.header__list li p:nth-child(2) {
  font-size: 1.1rem;
  color: gray;
}

.header__support {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header__support i {
  font-size: 2.4rem;
}

.banner {
  position: relative;
}

.banner__image {
  padding-top: 40%;
}

.banner__option {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.banner__option--container {
  margin-top: 4rem;
  padding: 1rem 0rem;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), white);
  position: relative;
  z-index: 11;
}

@media all and (min-width: 1024px) {
  .banner__option--container {
    margin-top: -10rem;
  }
}

@media all and (min-width: 1024px) {
  .banner__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}

.banner__option--item {
  padding: 1rem 0rem;
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}

@media all and (min-width: 1280px) {
  .banner__option--item {
    width: calc(100% / 8);
  }
}

.banner__option--item>div {
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
}

.banner__option--item>div img {
  width: 70%;
  height: 70%;
  border-radius: 100rem;
  object-fit: cover;
}

.banner__option--item>p {
  text-align: center;
  font-size: 1.46rem;
  line-height: 1.6rem;
  font-weight: 600;
}

.banner__option--item>p:hover {
  color: var(--color);
}

.banner__option--item>p span {
  display: block;
}

.banner__search {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
  z-index: 20;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333;
  text-align: center;
}

@media all and (min-width: 1024px) {
  .banner__search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
    bottom: 0;
  }
}

@media all and (max-width: 1024px) {
  .banner__search {
    padding-top: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .banner__search {
    padding-top: 7%;
  }
}

.banner__search h2 {
  font-size: 3.2rem;
  font-weight: 300;
}

.banner__search h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.banner__search--input {
  width: 33%;
  position: relative;
  padding: 2rem;
  margin: auto;
}

.banner__search--input input {
  width: 100%;
  padding: 1.6rem;
  padding-left: 4.5rem;
  border-radius: 100rem;
  background-color: #f7d800;
  color: #ffffff;
}

.banner__search--input input::placeholder {
  font-family: var(--font-family);
}

.banner__search--input i {
  font-size: 2rem;
  color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3.5rem;
}

.banner__search--app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem auto;
  width: 30rem;
}

@media all and (min-width: 1024px) {
  .banner__search--app {
    margin: 6rem auto;
  }
}

.banner__search--app img {
  width: 12.5rem;
}

.banner__search--popup {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
  text-shadow: none;
  color: #333;
  text-align: left;
  background-color: #ffffff;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
}

.banner__search--popup.active {
  display: block !important;
}

.banner__search--popup ul li.active {
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.105);
}

.banner__search--popup ul li {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid rgba(51, 51, 51, 0.1);
}

.footer__end {
  background-color: #64b9e5;
  padding: 3rem 0rem;
}

.footer__end--main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.footer__end--main span {
  font-size: 1.4rem;
}

.footer__end--main div {
  display: flex;
  font-size: 3.6rem;
  gap: 2rem;
}

.footer__end--main div a {
  color: #fff;
}

.footer__main {
  background-color: #efefef;
  padding: 3rem 0rem;
}

.footer__main>div {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .footer__main>div {
    display: block;
  }
}

.footer__main--logo {
  max-width: 36rem;
  height: auto;
}

.footer__main--logo img {
  object-fit: cover;
}

@media all and (max-width: 1024px) {
  .footer__main ul {
    padding: 1rem 0.8rem;
  }
}

.footer__main ul:nth-child(1) {
  font-size: 1.5rem;
}

@media all and (min-width: 1024px) {
  .footer__main ul:nth-child(1) {
    width: 50%;
  }
}

.footer__main ul:nth-child(1) li {
  line-height: 2rem;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__main ul:nth-child(1) li:nth-child(2) {
  font-weight: bold;
}

.footer__main ul:nth-child(1) li img {
  width: 20rem;
}

.footer__main ul:nth-child(2) {
  padding: 0rem 4rem;
}

@media all and (min-width: 1024px) {
  .footer__main ul:nth-child(2) {
    width: 25%;
  }
}

@media all and (max-width: 768px) {
  .footer__main ul:nth-child(2) {
    padding: 1rem;
  }
}

.footer__main ul:nth-child(2) li {
  padding: 1rem 0rem;
}

.footer__main ul:nth-child(2) li a {
  color: var(--color);
}

@media all and (min-width: 1024px) {
  .footer__main ul:nth-child(3) {
    width: 25%;
  }
}

.footer__main ul:nth-child(3) li {
  margin-bottom: 1.6rem;
}

.footer__main ul:nth-child(3) li h4 {
  font-size: 1.6rem;
}

.service .row {
  overflow: hidden;
}

.service__slider {
  margin-top: 3rem;
  cursor: pointer;
  position: relative;
  display: flex;
}

@media all and (min-width: 550px) {
  .service__slider {
    margin-left: -2.5rem !important;
    margin-right: -2.5rem !important;
  }
}

.service__slider--item {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  display: block;
}

@media all and (min-width: 550px) {
  .service__slider--item {
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .service__slider--item {
    width: calc(100% / 3);
  }
}

@media all and (min-width: 1024px) {
  .service__slider--item {
    width: 25%;
  }
}

@media all and (min-width: 550px) {
  .service__slider--item {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}

.service__slider--item--sticky {
  position: absolute;
  z-index: 10;
  top: 1rem;
  background-color: #fef04c;
  border-radius: 100rem;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  left: 3rem;
}

.service__slider--item--image {
  width: 100%;
  border-radius: 1.2rem;
  margin-bottom: 1rem;
}

.service__slider--item--image>div {
  padding-top: 62.5%;
}

.service__slider--item--image img {
  border-radius: 1.2rem;
}

.service__slider--item h3 {
  font-size: 1.6rem;
}

.service__slider--item ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
  list-style-type: disc;
}

.service__slider--item ul li {
  font-size: 1.3rem;
}

.service__slider--item p {
  font-weight: bold;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color);
}

.item__post {
  display: flex;
  padding: 2rem 0rem;
}

.item__post__.row {
  overflow: hidden;
}

@media all and (max-width: 550px) {
  .item__post {
    margin-left: -2.5rem !important;
    margin-right: -2.5rem !important;
  }
}

.item__post--heading {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 2.5rem 0rem;
}

.item__post--item {
  flex-shrink: 0;
  display: block;
  width: 100%;
}

@media all and (min-width: 550px) {
  .item__post--item {
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .item__post--item {
    width: calc(100% / 3);
  }
}

@media all and (min-width: 1024px) {
  .item__post--item {
    width: 25%;
  }
}

@media all and (min-width: 550px) {
  .item__post--item {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}

.item__post--item--image {
  padding-top: 56.25%;
}

.item__post--item--text {
  margin: 0.2rem 0rem;
}

.item__guide {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.item__guide--item {
  display: flex !important;
  align-items: center;
  margin-bottom: 2rem;
}

.item__guide--item>div:nth-child(2) {
  flex: 1;
}

@media all and (min-width: 768px) {
  .item__guide--item {
    width: 50%;
  }
}

.item__guide--item--image {
  width: 25%;
  padding-top: 20%;
}

.item__guide--item--text {
  flex: 1;
  padding: 0rem 1rem;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .item__guide--item--text {
    padding: 0rem 2rem;
  }
}

.item__guide--wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb {
  margin: 3rem auto;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.breadcrumb ul li.line {
  color: gray !important;
}

.breadcrumb ul li a {
  color: var(--color);
}

.post__left--title {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.post__left>ul {
  line-height: 2rem;
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 2rem;
}

.post__left>ul a {
  color: var(--color);
}

.post__left--small-desc {
  margin: 1rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.post__left--warning {
  background-color: #dff0d8;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 1.2rem;
  margin: 3rem 0rem;
}

.post__left--warning span {
  color: orange;
  font-size: 2.4rem;
}

.post__left--warning p {
  color: #3c763d;
  font-size: 1.4rem;
}

.post__left--content {
  line-height: 2.8rem;
}

.post__left--content img {
  width: 100%;
  margin: 1rem 0rem;
}

.post__right p {
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: gray;
}

.post__right ul li {
  padding: 0.5rem 0rem;
}

.post__right ul li a {
  color: var(--color);
  font-size: 1.5rem;
}

.post__socical {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0rem;
}

.post__socical button {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #1877f2;
  color: #fff;
  font-weight: 500;
  border-radius: 0.7rem;
}

.post__end {
  padding: 1.5rem;
  border-bottom: 0.5rem solid #eee;
  border-top: 0.5rem solid #eee;
  margin-bottom: 3rem;
}

.post__end>p {
  padding: 0.5rem 0rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--color);
}

.post__end--doc {
  display: none;
  padding: 1.2rem;
}

.post__end--doc.active {
  display: block;
}

.post__end--feedback {
  display: none;
  margin-bottom: 2rem;
  padding: 1.2rem;
}

.post__end--feedback>p {
  margin-bottom: 1rem;
}

.post__end--feedback form div {
  margin-bottom: 1rem;
  position: relative;
}

.post__end--feedback form div textarea {
  height: 14rem;
  width: 100%;
  padding: 1rem;
  padding-left: 4rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.247);
}

.post__end--feedback form div textarea::placeholder {
  font-family: var(--font-family);
}

.post__end--feedback form div textarea:focus {
  border-color: var(--color);
}

.post__end--feedback form div input {
  width: 100%;
  padding: 1rem;
  padding-left: 4rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.247);
}

.post__end--feedback form div input::placeholder {
  font-family: var(--font-family);
}

.post__end--feedback form div input:focus {
  border-color: var(--color);
}

.post__end--feedback form div:nth-child(1) span {
  top: 1rem;
  transform: none !important;
}

.post__end--feedback form div span {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.post__end--feedback form button {
  padding: 1rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.247);
}

.post__end--feedback.active {
  display: block;
}

.list-option {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999999;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list-option__top {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  left: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-option__top--prev {
  font-size: 2.8rem;
  cursor: pointer;
}

.list-option__top p {
  font-size: 2.4rem;
}

.list-option__content {
  padding: 2rem 1rem;
}

.list-option__item {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.list-option__item--image {
  width: 13rem;
  height: 10rem;
}

.list-option__item--text {
  color: gray;
}

.order__top {
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__container.show>.wrapper {
  height: auto;
  overflow: unset;
}

.order__container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), white);
  padding: 1rem;
}

.order__container>.wrapper {
  height: 16rem;
  overflow: hidden;
}

.order__container>.wrapper h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.order__container>.wrapper h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.order__container>.wrapper p {
  margin-bottom: 1rem;
}

.order__container>.wrapper ul {
  margin-bottom: 3rem;
  padding-left: 2rem;
  list-style-type: disc;
  line-height: 2rem;
  font-size: 1.5rem;
}

.order__wrapper {
  background-color: #eeeeee;
  padding: 2rem 0rem;
}

.order__select {
  margin: 1rem 0rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
}

.order__item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem 0rem;
  border-radius: 1.2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
}

.order__item--left {
  display: flex;
  padding: 0rem 1rem;
  border-right: 0.1rem solid rgba(128, 128, 128, 0.088);
}

@media all and (max-width: 550px) {
  .order__item--left.detail {
    display: block;
  }

}

@media all and (min-width: 1024px) {
  .order__item--left {
    width: 50%;
  }

  .order__item--right {
    width: 50%;
  }

  .order__item--right.row {
    width: 100%;
  }
}

.order__item--left>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order__item--left--image {
  cursor: pointer;
  width: 16rem;
  height: 16rem;
  border-radius: 100rem;
}

@media all and (max-width: 550px) {
  .order__item--left--image.detail {
    margin: 2rem auto;
  }
}

.order__item--left--text {
  margin-top: 1rem;
  color: var(--color);
}

.order__item--left--content {
  padding-left: 2rem;
  flex: 1;
}

.order__item--left--content h3 {
  cursor: pointer;
  color: var(--color);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.order__item--left--content p {
  line-height: 2.4rem;
  font-size: 1.5rem;
  color: gray;
}

.order__item--left--content--footer {
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: gray;
}

.order__item--right {
  padding-left: 2rem;
}

.order__item--right--calendar {
  position: relative;
  display: inline-block;
  padding: 0.4rem 0rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin-bottom: 0.8rem;
  color: var(--color);
  cursor: pointer;
}

.order__item--right--calendar ul {
  position: absolute;
  display: none;
  width: 20rem;
  padding: 1rem;
  background-color: #fff;
  top: 100%;
  margin-top: 0.5rem;
  left: 0;
  z-index: 100;
}

.order__item--right--calendar ul li {
  padding: 1rem 0rem;
}

.order__item--right--calendar ul.active {
  display: block;
}

.order__item--right--calendar.detail {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.order__item--right>div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.1rem 0rem;
  color: gray;
}

.order__item--right--list-calendar {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
}

.order__item--right--item {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.135);
  padding: 1.6rem 2.5rem;
  font-weight: 600;
}

.order__item--right--item.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.order__item--right--item.disabled:hover {
  background-color: rgba(128, 128, 128, 0.135);
  color: black;
}

.order__item--right--item:hover,
.order__item--right--item.active {
  background-color: var(--color);
  color: #fff;
}

.order__item--right p {
  margin-top: 1.2rem;
  font-weight: 600;
  margin: 1rem 0rem;
  font-size: 1.4rem;
  color: gray;
}

.order__item--right>ul {
  margin: 2.4rem 0rem;
  line-height: 2.4rem;
}

.order__item--right>ul li:first-child {
  color: gray;
  text-transform: uppercase;
}

.order__item--right>div:last-child {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.order__item--right>div:last-child span:nth-child(1) {
  font-weight: 500;
  color: gray;
}

.order__item--right>div:last-child span:nth-child(3) {
  cursor: pointer;
  color: var(--color);
}

.order__form {
  margin: auto;
}

@media all and (min-width: 1024px) {
  .order__form {
    width: 50%;
  }
}

.order__form--top {
  margin: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.order__form--top img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 100rem;
}

.order__form--top p {
  line-height: 2.4rem;
}

.order__form--top p:nth-child(1),
.order__form--top p:nth-child(1) {
  font-size: 1.5rem;
  color: gray;
}

.order__form--top p:nth-child(2) {
  font-weight: 600;
  color: var(--color);
}

.order__form--price {
  margin-bottom: 0.8rem;
}

.order__form--price--item {
  display: inline-block;
  padding: 2rem 5rem;
  text-align: center;
  font-size: 1.4rem;
  border: 0.2rem solid var(--color);
  border-radius: 0.8rem;
}

.order__form--price--item p {
  gap: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__form--for {
  margin: 2rem 0rem;
  display: flex;
  gap: 1rem;
}

.order__form--for div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.order__form--desc {
  font-size: 1.3rem;
  margin: 1rem 0rem;
  color: gray;
}

.order__form--input {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.order__form--input::placeholder {
  font-family: var(--font-family);
}

.order__form--input input {
  width: 100%;
  padding: 1.1em 1.1rem 1.1rem 4rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.361);
}

.order__form--input input:focus {
  border-color: var(--color);
}

.order__form--input input:focus~span {
  color: var(--color);
}

.order__form--input span {
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.order__form--select {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.order__form--select select {
  width: 100%;
  padding: 1.1em 1.1rem 1.1rem 4rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.361);
}

.order__form--select select::placeholder {
  font-family: var(--font-family);
}

.order__form--select select:focus {
  border-color: var(--color);
}

.order__form--select select:focus~span {
  color: var(--color);
}

.order__form--select span {
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.order__form--select span.bx-chevron-down {
  left: auto;
  right: 1rem !important;
}

.order__form--textarea {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.order__form--textarea textarea {
  height: 10rem;
  resize: none;
  width: 100%;
  padding: 1em 1.1rem 1rem 4rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.361);
}

.order__form--textarea textarea::placeholder {
  font-family: var(--font-family);
}

.order__form--textarea textarea:focus {
  border-color: var(--color);
}

.order__form--textarea textarea:focus~span {
  color: var(--color);
}

.order__form--textarea span {
  font-size: 1.6rem;
  position: absolute;
  top: 1.6rem;
  left: 1rem;
}

.order__form--info p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 4rem;
}

.order__form--info p:last-child span:nth-child(2) {
  color: red;
  font-weight: 600;
}

.order__form--warning {
  margin: 2rem 0rem;
  padding: 1.8rem;
  background-color: #fff04b;
  border: 0.1rem solid #cfbe00;
}

.order__form--warning p {
  font-weight: 600;
  margin-bottom: 2rem;
}

.order__form--warning>ul {
  padding-left: 1rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  list-style-type: decimal;
}

.order__form--warning>ul>ul {
  padding-left: 2rem;
  font-weight: 500;
  list-style-type: disc;
}

.order__form--button {
  background-color: #006e6f;
  padding: 1.2rem;
  width: 100%;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
}

.view__more {
  display: block;
  margin: 2rem 0rem;
  color: var(--color);
  font-size: 1.4rem;
  padding: 1.4rem;
  background-color: #fff;
  cursor: pointer;
}

.button-order {
  background-color: var(--color);
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 1.2rem 4rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.reply__title {
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.185);
}

.reply hr {
  border: 0.1rem solid rgba(0, 0, 0, 0.185);
}

.reply__item {
  margin: 2.8rem 0rem;
}

.reply__item--top {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.reply__item--top a {
  font-weight: 700;
}

.reply__item--top span {
  color: var(--color);
  font-size: 1.3rem;
  font-weight: 500;
}

.reply__item--content {
  font-size: 1.4rem;
  margin: 0.5rem 0rem;
}

.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url('~@/assets/img/banner/banner.jpg');
}

.login__container {
  width: 40rem;
  padding: 4rem 2rem 1rem 2rem;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.login__container>p {
  text-align: center;
  margin: 2rem 0rem;
}

.login__container>p a {
  font-weight: 600;
  color: #fff;
}

.login__container>h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.login__container>div {
  position: relative;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.login__container>div .select-arrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.8);
}

.login__container>div>input,
.login__container>div>select {
  width: 100%;
  padding: 1.5rem 4rem;
  background-color: #fff;
}

.login__container>div>span {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.8);
}

.login__container>div>button {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  background-color: red;
  color: #fff;
}

.admin {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1024px) {
  .admin {
    padding: 1.6rem 2rem;
  }
}

.admin__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.admin__header--logo {
  width: auto;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (min-width: 1024px) {
  .admin__header--logo {
    width: 30rem;
  }
}

.admin__header--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.admin__header--right>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
  background-color: var(--color-thin);
  border-radius: 100rem;
  gap: 1rem;
  cursor: pointer;
}

.admin__header--right>div>img {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
}

.admin__header--right>div>span {
  font-size: 2.4rem;
  color: gray;
}

.admin__header--content {
  flex: 1;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin__header--search {
  width: auto;
  position: relative;
}

@media all and (min-width: 768px) {
  .admin__header--search {
    width: 50%;
  }
}

@media all and (min-width: 1024px) {
  .admin__header--search {
    width: 35%;
  }
}

@media all and (min-width: 1280px) {
  .admin__header--search {
    width: 25%;
  }
}

.admin__header--search input {
  width: 4rem;
  padding: 1.4rem 2rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.469);
}

@media all and (min-width: 768px) {
  .admin__header--search input {
    width: 100%;
    padding: 1.4rem 4rem;
  }
}

@media all and (max-width: 768px) {
  .admin__header--search input::placeholder {
    color: transparent;
  }
}

.admin__header--search span {
  cursor: pointer;
  color: rgba(128, 128, 128, 0.6);
  top: 50%;
  transform: translateY(-50%);
}

.admin__header--search span:nth-child(1) {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
}

.admin__header--search span:nth-child(3).active {
  display: block;
}

.admin__header--search span:nth-child(3) {
  display: none;
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

.admin__content {
  flex: 1;
  overflow: auto;
  background-color: var(--color-thin);
}

.admin__sidebar.active {
  margin-right: 1.5rem;
  width: max-content;
}

@media all and (max-width: 1024px) {
  .admin__sidebar.active {
    padding-top: 1rem;
  }
}

@media all and (min-width: 1024px) {
  .admin__sidebar.active {
    margin-right: 3rem;
  }
}

@media all and (min-width: 1024px) {
  .admin__sidebar.active {
    width: 30rem;
  }
}

.admin__sidebar.active>* {
  visibility: visible;
}

.admin__sidebar {
  transition: 0.3s;
  width: 0;
  overflow: hidden;
}

.admin__sidebar>* {
  visibility: hidden;
}

.admin__sidebar>p {
  font-weight: 500;
  margin: 1.6rem 0rem;
}

@media all and (max-width: 1024px) {
  .admin__sidebar>p {
    display: none;
  }
}

.admin__sidebar>ul>li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.admin__sidebar>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 1.6rem;
}

.admin__sidebar>ul>li>a>span:nth-child(1) {
  font-size: 2rem;
}

@media all and (max-width: 1024px) {
  .admin__sidebar>ul>li>a>span:nth-child(2) {
    display: none;
  }
}

.admin__sidebar>ul>li:hover {
  font-weight: 500;
  border-radius: 1.2rem;
  background-color: var(--color-thin);
}

.admin__sidebar>ul>li:hover a {
  color: var(--color-bold);
}

.admin__sidebar>ul>li.active {
  font-weight: 500;
  border-radius: 1.2rem;
  background-color: var(--color-thin);
}

.admin__sidebar>ul>li.active>a {
  color: var(--color-bold);
}

.admin__container {
  display: flex;
  height: 100%;
}

.admin__content {
  transition: 0.3s;
  flex: 1;
  height: 100%;
}

.box-icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1.2rem;
  background-color: var(--color-thin);
  color: var(--color-bold);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box-icon:hover {
  background-color: var(--color-bold);
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
@import './app.css';
@import './admin.css'